body {
    font-family: monospace;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page h1 {
    color: tomato;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 3%;
}

.welcome-page img {
    margin: 2% auto;
}

.welcome-page .register-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page .register-comp input {
    margin: 7px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom-color: blue;
}
#default_img{
    float: right;
    height: 100px;
    width:100px;
}
#logo_img{
    float: left;
    height: 200px;
    width:200px;
}
#img_pro {
    float:right;
    height: 100px;
    width:100px;
    border-radius: 50%;
}
