body {
    font-family: monospace;
    background: linear-gradient(225deg, #4caf50, #f43b45, #ff4722, #f535af, #3cc1ff, #3244fd);
    background-image: linear-gradient(225deg, rgb(76, 175, 80), rgb(244, 59, 69), rgb(255, 71, 34), rgb(245, 53, 175), rgb(60, 193, 255), rgb(50, 68, 253));
    background-position-x: initial;
    background-position-y: initial;
    background-size: 1200% 1200%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 1200% 1200%;
    -webkit-animation-name: ccfgradient;
    animation-name: ccfgradient;
    -webkit-animation: ccfgradient 3s ease infinite;
    -moz-animation: ccfgradient 3s ease infinite;
    animation: ccfgradient 3s ease infinite;
}
/* .wannabeContainer{
    margin-top: 10%
    boarder-radius:2px solid green;
}
*/
.friendsList, .onlineUsersList, .chatMessagesBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.friendsListContainer, .wannabeContainer, .chatMessagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* border-radius: 20px; */
    margin-top: 40px;
    width: 50%;
    border:2px solid black;
}
.onlineUserItemPicture{
    width:100px;
    height:100px;
    position:relative;
    min-width:100px;

}

.chatMessageItemPicture {
    position: relative;
    width: 75px;
    height: 75px;
    min-width: 75px;
}
.green{
background: #35ac19;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
/* .chatMessageItemPicture:after{
    content: "";
 display: block;
 padding-bottom: 100%;
} */
.message-content {
    font-weight: normal;
}

.chatMessagesContainer, .friendMessagesContainer {
    min-height: 300px;
    max-height: 790px;
}

.chatMessagesContainer-messages {
    max-height: 540px;
    overflow: auto;
    margin: 10px;
}

.friendMessagesContainer-messages {
    max-height: 600px;
    overflow: auto;
    margin: 10px;
}

.friendMessagesContainer-messages {
    max-height: 600px;
    overflow: auto;
    margin: 10px;
}

.chatMessageItemInfo, .friendMessageItemInfo {
    margin: 20px 30px;
    font-weight: bold;
}
.message-sender {
    color: Black;
}
.message-date {
    color: black;
    font-weight: normal;
}
.message-content {
    font-weight: normal;
}



.chatMessageItem, .friendMessageItem {

    display: flex;
    width:500px;
    align-items: center;
    background: linear-gradient(225deg, #4caf50, #f43b45, #ff4722, #f535af, #3cc1ff, #3244fd);
    background-image: linear-gradient(225deg, rgb(76, 175, 80), rgb(244, 59, 69), rgb(255, 71, 34), rgb(245, 53, 175), rgb(60, 193, 255), rgb(50, 68, 253));
    background-position-x: initial;
    background-position-y: initial;
    background-size: 1200% 1200%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 1200% 1200%;
    -webkit-animation-name: ccfgradient;
    animation-name: ccfgradient;
    -webkit-animation: ccfgradient 3s ease infinite;
    -moz-animation: ccfgradient 3s ease infinite;
    animation: ccfgradient 3s ease infinite;
    border: 2px solid black;
}
.chatMessagesContainer-messages::-webkit-scrollbar, .friendMessagesContainer-messages::-webkit-scrollbar {
    width: 0.6em;
}

.chatMessagesContainer-messages::-webkit-scrollbar-thumb, .friendMessagesContainer-messages::-webkit-scrollbar-thumb {
    border-radius: 7px;
    /* -webkit-box-shadow: inset 0 0 2px black; */
    webkit-box-shadow:black;
}

.chatMessagesContainer-messages::-webkit-scrollbar-button, .friendMessagesContainer-messages::-webkit-scrollbar-button {
    display: none;
}

.chatMessagesContainer-messages::-webkit-scrollbar-track, .friendMessagesContainer-messages::-webkit-scrollbar-track {
    display: none;
}

.chatMessageInput textarea, .friendMessageInput textarea {
    width: 500px;
    height: 140px;
    position: relative;
    left:20px;

}



.chatMessageInput button, .friendMessageInput button {
    width: 130px;
    margin: 20px auto;
    position: relative;
    /* left:180px; */
    top:8px;
    right:300px;
}
.wannabeItem{
    width:150px;
    text-align:center;

}


#profileLink, #logoutLink, #friendslink, #onlinelink, #chatlink {
    text-decoration: none;
    color: Black;
}
#noMessagesP {
    margin-top: 85px;
}

.wannabeContainer, .friendsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wannabeItemPicture img, .friendItemPicture img, .onlineUserItemPicture img {
    border-radius: 50%;
    height:100px;
    width: 100px;
    margin-left: 10px;
}
.chatMessageItemPicture img {
   border-radius: 50%;
   height:80px;
   width: 80px;
   margin-left: 10px;
}
.message-sender {
    color: bold black;
}
#wannabe_item{
    border-radius: 50%;
  border: 2px solid blue;
  margin-left: 20px;
    height: 100px;
    width:100px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
     /* border-radius: 1px solid green;  */
 }
 header img{
 width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  margin-right: 10px;
  margin-left: 20px;
}
.wannabeItemPicture, .friendItemPicture {
    position: relative;
    width: 100px;
    height: 100px;
    min-width: 100px;
}
/* #wannabe_itemItem img{
    border-radius: 50%;
    border: 2px solid tomato;
    margin-left: 10px;
} */
.wannabeItem:hover {
    border: 1px dotted rgb(163, 213, 224);
    border-radius: 5%;
    transform: scale(1);
}
.friendItem:hover {
   border: 1px dotted rgb(163, 213, 224);
   border-radius: 5%;
   transform: scale(1.05);
}

.wannabe_name, .friend_name {
    margin: 35px 25px;
    font-weight: bold;
}
.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chitchatfun {
  color: blue;
  text-shadow: 1px 1px 2px orange, 0 0 25px orange, 0 0 5px yellow;
 margin-left: 500px;
 font-style: italic;
}
.welcome-page h1 {
    color:linear-gradient(225deg, #4caf50, #f43b45, #ff4722, #f535af, #3cc1ff, #3244fd) ;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 3%;
}

.welcome-page img {
    margin: 2% auto;
}

.welcome-page .register-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page .register-comp input {
    margin: 7px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    /* border-bottom-color: blue; */
    border-radius: 60 20px;
}
#default_img{
    float: right;
    height: 100px;
    width:100px;
}
#logo_img1{
    float: left;
    height: 80px;
    width:80px;
}
#img_pro {
    /* float:right; */
    height: 60px;
    width:60px;
     border-radius: 50%;
}
#pro_photo{
    /* border: 1px solid black; */
  float: left;
  position: relative;
  margin-top: 5%;
  left: 5%;
  transform: scale(3);
}
#pro_pic_name{
    display: inline-block;
}
#profileInfo {
    position: relative;
    left: 15%;
}
span{
    font-family: inherit;
}
#name{
    display: block;
}
/* #pro_bio_comp{ */
    /* margin-right: 50%; */
    /* border: 1px solid black; */
    /* padding: 10px; */
 /* box-shadow: 10px 15px 25px white; */
 /* -moz-box-shadow: 0 0 10px 10px black; */
/* -webkit-box-shadow: 0 0 10px 10px black; */
/* box-shadow: 0 0 10px 10px black; */
 /* } */
#otherprofile_com{
    margin-top:2%;
    display:block;
    height: 200px;
    width:200px;
    border: 2px solid black;
}

#otherprofile_container{
    display: flex;
    justify-content: center;
    width: 500px;

     overflow: auto;
    height:400px;
    /* width: 600px; */
    margin-left: 30%;
    margin-top: 8%;
    -moz-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue;
-webkit-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue;
box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue;
}
/* #friend_button{
    display:flex;
    margin-right: 40%;
} */
#friend_button0{
    padding-top: 33px;
    /* margin-right: 40%; */
    /* display: inline-block; */
 }
#otherprofile_comp{
/* display: inline-block; */
text-align: center;

}
.app_container{

}
.app_comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('/backgroundimage.jpg'); */
    min-height: 100vh;
}
#profile_container{
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-top: 50px;
    /* width: 50%; */
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
    background-color: white;
    height:80px;

}
.custom-file-upload:hover {
    filter: contrast(95%);
}
#uploader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: tomato;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploader .profilepic {
    position: relative;
    width: 60%;
    margin-bottom: 25px;
}

#uploader .profilepic:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#uploader .profilepic img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: default;
}

.uploader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:blue;
    width: 30%;
    height: 70%;
    margin: auto;
    border-radius: 5%;
    /* border: 2px solid tomato; */
}

 .uploader-content button {
    border: 1px solid blue;
    color: tomato;
    background-color:white;
    margin: 10px;
    cursor: pointer;
}

.uploader-content button:hover {
    filter: contrast(95%);
}

.uploader-content input {
    display: none;
}

#filename {
    margin: 10px auto;
}

.custom-file-upload {
    border: 1px solid blue;
    color: tomato;
    background-color: white;
    cursor: pointer;
}
